// Background Tones - Dark
$color_base03   : #404552;
$color_base02   : #383c4a;

// Background Tones - Light
$color_base2    : #ffffff;
$color_base3    : #f5f6f7;

// Content Tones
$color_base01   : #434C5E;
$color_base00   : #7B8394;
$color_base0    : #D8DEE9;
$color_base1    : #E5E9F0;

$color_yellow   : #fdd75a; // Gnome Terminal
$color_orange   : #f3b43a; // Gnome Terminal
$color_red      : #f04a50;
$color_magenta  : #744560; // Gnome Terminal
$color_violet   : #9e5e83; // Gnome Terminal
$color_blue     : #5294e2;
$color_cyan     : #288e9c; // Gnome Terminal
$color_green    : #61bc3b; // Gnome Terminal
